* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .flag {
  background-color: #EE1C25;
  width: 1152px;
  height: 768px;
  position: relative;
}
.container .flag .star-container {
  width: 576px;
  height: 384px;
  position: absolute;
  display: flex;
}
.container .flag .star-container .big-star {
  margin: auto 115.2px;
  font-size: 120px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.container .flag .star-container .big-star:before {
  border-bottom: 0.8em solid #FFFF00;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.container .flag .star-container .big-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.container .flag .star-container .sm-container {
  width: 153.6px;
  height: 90%;
  margin-top: 39px;
  margin-left: -76.8px;
  display: flex;
  align-items: center;
}
.container .flag .star-container .sm-container .left {
  width: 50%;
  height: 100%;
  float: left;
}
.container .flag .star-container .sm-container .left .star1 {
  margin-top: 20px;
  font-size: 38px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  transform: rotate(70deg);
}
.container .flag .star-container .sm-container .left .star1:before {
  border-bottom: 0.8em solid #FFFF00;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.container .flag .star-container .sm-container .left .star1:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.container .flag .star-container .sm-container .left .star2 {
  margin-top: 254.59px;
  font-size: 38px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  transform: rotate(70deg);
}
.container .flag .star-container .sm-container .left .star2:before {
  border-bottom: 0.8em solid #FFFF00;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.container .flag .star-container .sm-container .left .star2:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.container .flag .star-container .sm-container .right {
  width: 50%;
  height: 50%;
  float: right;
}
.container .flag .star-container .sm-container .right .star1 {
  margin-top: 20px;
  font-size: 38px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  transform: rotate(20deg);
}
.container .flag .star-container .sm-container .right .star1:before {
  border-bottom: 0.8em solid #FFFF00;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.container .flag .star-container .sm-container .right .star1:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
.container .flag .star-container .sm-container .right .star2 {
  margin-top: 81px;
  font-size: 38px;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  transform: rotate(50deg);
}
.container .flag .star-container .sm-container .right .star2:before {
  border-bottom: 0.8em solid #FFFF00;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.container .flag .star-container .sm-container .right .star2:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #FFFF00;
  border-left: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}

@keyframes kosmos {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100000000deg);
  }
}/*# sourceMappingURL=china.css.map */